---
title: Mirrors
date: 2015-11-29 21:00:03
layout: mirrors
---
<style type="text/css">
  .table{
    font-size: 1.2em;
  }
  .table a{
    color:#64aed9;
  }
  tr{
        border: none;
  }

  .table td, 
.table th { 
  border-bottom: 1px solid white; 
  padding:5px; 
  }

  .sync{
    width:60px;
  }

  .sync-success{
    background-color:#5cb85c;
    border-color: #5cb85c;
  }
</style>
<table class="table table-hover" >
<thead>
  <tr style="border-bottom: 2px solid #F2F2F2;"><td><b>Name</b></td><td><b>Last update</b></td> <td><b>State</b></td></tr>
</thead>
<tbody>
    <tr><td><a href="http://mirrors.opencas.cn/apache/">Apache</a></td><td>2015-3-5</td></td><td> <button class="btn btn-xs sync sync-success btn-success">Succeed</button></td></tr>
    <tr><td><a href="http://mirrors.opencas.cn/apache/">Apache</a><a href=""><i  data-toggle="tooltip" title="Help and doc" style="margin-left:8px;" class="glyphicon glyphicon-question-sign"></i></a></td><td>2015-3-5</td></td><td> <button class="btn btn-xs sync sync-info btn-info">Syncing</button></td></tr>
    <tr><td><a href="http://mirrors.opencas.cn/apache/">Apache</a></td><td>2015-3-5</td></td><td> <button class="btn btn-xs sync sync-info btn-info">Syncing</button></td></tr>
    <tr><td><a href="http://mirrors.opencas.cn/apache/">Apache </a> </td><td>2015-3-5</td></td><td> <button class="btn btn-xs sync sync-info btn-info">Syncing</button></td></tr>
    <tr><td><a href="http://mirrors.opencas.cn/apache/">Apache</a></td><td>2015-3-5</td></td>
    <tr class="info"><td><a href="http://mirrors.opencas.cn/apache/">Apache</a></td><td>2015-3-5</td><td> <button class="btn btn-xs sync sync-info btn-warning">Failed</button></td></tr>
    <tr><td><a href="http://mirrors.opencas.cn/apache/">Apache</a></td><td>2015-3-5</td></td>
    <tr><td><a href="http://mirrors.opencas.cn/apache/">Apache</a></td><td>2015-3-5</td></td>
<tr><td><a href="http://mirrors.opencas.cn/apache/">Apache</a></td><td>2015-3-5</td></td>
    <tr><td><a href="http://mirrors.opencas.cn/apache/">Apache</a></td><td>2015-3-5</td>
    <tr><td><a href="http://mirrors.opencas.cn/apache/">Apache</a></td><td>2015-3-5</td></td><tr><td><a href="http://mirrors.opencas.cn/apache/">Apache</a></td><td>2015-3-5</td></td>
    <tr><td><a href="http://mirrors.opencas.cn/apache/">Apache</a></td><td>2015-3-5</td></td>
    <tr><td><a href="http://mirrors.opencas.cn/apache/">Apache</a></td><td>2015-3-5</td></td>

</tbody>

</table>
