---
title: ""
date: 2017-02-08 15:29:10
layout: page
---
<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">HOME</a></li>
    <li class="active">PROJECTS</li>
  </ul>
  <div id="main" style="margin-top:30px;">
    <div class="row margin-bottom-40">
    <div class="col-md-12 col-sm-12">
      <div class="content-page">
        <div class="row front-team">
          <div class="col-md-12">
            <h2>OpenCAS 镜像帮助文档补全计划</h2>
            <hr />
            <p>我们现在正在同步的镜像包括：</p>
            <p>Apache ArchLinux Centos CRAN CTAN Cygwin Deepin Deepin-cd Eclipse EPEL Gentoo GNU Mariadb Pypi Raspbian Ubuntu Ubuntu-Release Ubuntu-Vargrant</p>
            <p>考虑了未来的可扩展性，我们使用Sphinx+reStructuredText语言制作帮助文档。</p>
            <p>诚招寒假玩腻了闲得慌的童鞋或者有心想帮忙的童鞋</p>
            <a href="https://github.com/opencas/mirrorDocs"><i class="fa fa-github"></i>https://github.com/opencas/mirrorDocs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</div>
