---
title: ""
date: 2015-11-17 01:00:51
layout: page
---
<style type="text/css">
	.intro-text{
		font-size: 1.2em;
	}
</style>
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30">
	<!-- BEGIN INFO BLOCK -->               
	<div class="col-md-7">
	  <h2 class="no-top-space">中科院开源软件协会</h2>
	  <p style="margin-top:20px;" class="intro-text">中国科学院开源软件协会(Open CAS)是由中国科学院大学(UCAS)研究生组成的开源技术社区。

</p> 
	  <p class="intro-text">协会秉承<span style=" font-size:1.3em;color:#64aed9;padding-left:6px;padding-right:6px;" >开放·自由·分享</span>的理念，聚集开源爱好者，分享开源技术，传递开源理念，为科学院的同学创建平台参与开源项目，与其他开源社区、企业合作交流。</p>
	  <!-- BEGIN LISTS -->
	  <div class="row front-lists-v1">
	    <div class="col-md-4">
	      <ul class="list-unstyled margin-bottom-20">
		<li><i class="fa fa-check"></i> 技术交流</li>
		<li><i class="fa fa-check"></i> 传播开源文化</li>
		<li><i class="fa fa-check"></i> 项目锻炼</li>
	      </ul>
	    </div>
	    <div class="col-md-4">
	      <ul class="list-unstyled">
		<li><i class="fa fa-check"></i> 知识分享</li>
		<li><i class="fa fa-check"></i> 实习/就业帮助 </li>
		<li><i class="fa fa-check"></i> 企业合作交流</li>
	      </ul>
	    </div>
	  </div>
	  <!-- END LISTS -->
	</div>
	<!-- END INFO BLOCK -->   

	<!-- BEGIN CAROUSEL -->            
	<div class="col-md-5 front-carousel">
	  <div id="myCarousel" class="carousel slide">
	    <!-- Carousel items -->
	    <div class="carousel-inner">
	      <div class="item active">
                <img src='../metronic/assets/pages/img/index-sliders/s1.jpg'>
		<div class="carousel-caption">
		  <p>中科院开源论坛</p>
		</div>
	      </div>
	      <div class="item">
                <img src='../metronic/assets/pages/img/index-sliders/s2.jpg'>
		<div class="carousel-caption">
		  <p>2015年SFD(软件自由日)</p>
		</div>
	      </div>
	      <div class="item">
                <img src='../metronic/assets/pages/img/index-sliders/s3.jpg'>
		<div class="carousel-caption">
		  <p>2015年Apache路演</p>
		</div>
	      </div>
	    </div>
	    <!-- Carousel nav -->
	    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
	      <i class="fa fa-angle-left"></i>
	    </a>
	    <a class="carousel-control right" href="#myCarousel" data-slide="next">
	      <i class="fa fa-angle-right"></i>
	    </a>
	  </div>                
	</div>
	<!-- END CAROUSEL -->
      </div>

      <div class="row margin-bottom-40">
	<!-- BEGIN TESTIMONIALS -->
	<!-- <div class="col-md-7 testimonials-v1">
	  <h2>Client Testimonials</h2>                
	  <div id="myCarousel1" class="carousel slide">
	    <div class="carousel-inner">
	      <div class="active item">
		<blockquote><p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met consectetur adipisicing sit amet do eiusmod dolore.</p></blockquote>
		<div class="carousel-info">
		  <img src='../metronic/assets/pages/img/people/img1-small.jpg'>
		  <div class="pull-left">
		    <span class="testimonials-name">Lina Mars</span>
		    <span class="testimonials-post">Commercial Director</span>
		  </div>
		</div>
	      </div>
	      <div class="item">
		<blockquote><p>Raw denim you Mustache cliche tempor, williamsburg carles vegan helvetica probably haven't heard of them jean shorts austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p></blockquote>
		<div class="carousel-info">
		  <img src='../metronic/assets/pages/img/people/img5-small.jpg'>
		  <div class="pull-left">
		    <span class="testimonials-name">Kate Ford</span>
		    <span class="testimonials-post">Commercial Director</span>
		  </div>
		</div>
	      </div>
	      <div class="item">
		<blockquote><p>Reprehenderit butcher stache cliche tempor, williamsburg carles vegan helvetica.retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p></blockquote>
		<div class="carousel-info">
		  <img src='../metronic/assets/pages/img/people/img2-small.jpg'>
		  <div class="pull-left">
		    <span class="testimonials-name">Jake Witson</span>
		    <span class="testimonials-post">Commercial Director</span>
		  </div>
		</div>
	      </div>
	    </div>
	    <a class="left-btn" href="#myCarousel1" data-slide="prev"></a>
	    <a class="right-btn" href="#myCarousel1" data-slide="next"></a>
	  </div>
	</div> -->
	<!-- END TESTIMONIALS --> 

	<!-- BEGIN PROGRESS BAR -->
	<!-- <div class="col-md-5 front-skills">
	  <h2 class="block">Our Skills</h2>
	  <span>UI Design 90%</span>
	  <div class="progress">
	    <div role="progressbar" class="progress-bar" style="width: 90%;"></div>
	  </div>
	  <span>Wordpress CMS 60%</span>
	  <div class="progress">
	    <div role="progressbar" class="progress-bar" style="width: 60%;"></div>
	  </div>
	  <span>HTML/CSS &amp; JavaScript 75%</span>
	  <div class="progress">
	    <div role="progressbar" class="progress-bar" style="width: 75%;"></div>
	  </div>
	</div>   -->                     
	<!-- END PROGRESS BAR -->
      </div>

      <div class="row front-team">
	<ul class="list-unstyled">
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../assets/imgs/team/cxy.jpg'>
	      <h3>
		<strong>陈新宇</strong> 
		<small>负责人 &nbsp;<a  data-original-title="Mail" href="mailto:jasinechen@gmail.com"><i style="font-size:1.2em" class="fa fa-envelope-o"></i></a></small>

	      </h3>
	      <p>热爱开源技术，追逐开源精神, 开源社开源大使，CSDN高校俱乐部中科院负责人。喜欢代码，美剧和羽毛球</p>
	      <span></span>
	      <!-- <ul class="social-icons social-icons-color">
		<li></li>
		<li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
		<li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
		<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
	      </ul> -->
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/img1-large.jpg'>
	      <h3>
		<strong>丁磊</strong> 
		<small>负责人 &nbsp;<a  data-original-title="Mail" href="mailto:jasinechen@gmail.com"><i style="font-size:1.2em" class="fa fa-envelope-o"></i></a></small>
	      </h3>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
	      
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../assets/imgs/team/xdf.jpg'>
	      <h3>
		<strong>许丹凤</strong> 
		<small>负责人&nbsp;<a  data-original-title="Mail" href="mailto:417890223@qq.com"><i style="font-size:1.2em" class="fa fa-envelope-o"></i></a></small>
	      </h3>
	      <p>介绍：会写点程序爱设计的前端汪，会的不多，兴趣广泛（骑行，摄影，插画，旅行，美食。。。有时也假装看看书</p>
	      
	  </li>
	  <!-- <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/img5-large.jpg'>
	      <h3>
		<strong>Jessica Alba</strong> 
		<small>Chief Executive Officer / CEO</small>
	      </h3>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
	      <ul class="social-icons social-icons-color">
		<li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
		<li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
		<li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
		<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
	      </ul>
	    </div>
	  </li> -->
	</ul>            
      </div>

    </div>
    <!-- <h2 style="margin-top:30px;">给我们留言</h2>
<p>我们倾听您的意见和建议，感谢你的关注与支持.</p>
<form action="#" role="form">
  <div class="form-group">
    <label for="contacts-name">Name</label>
    <input type="text" class="form-control" id="contacts-name">
  </div>
  <div class="form-group">
    <label for="contacts-email">Email</label>
    <input type="email" class="form-control" id="contacts-email">
  </div>
  <div class="form-group">
    <label for="contacts-message">Message</label>
    <textarea class="form-control" rows="5" id="contacts-message"></textarea>
  </div>
  <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Send</button>
  <button type="button" class="btn btn-default">Cancel</button>
</form> -->
  </div>
  

  <!-- END CONTENT -->
</div>

<!-- END SIDEBAR & CONTENT -->
