<div class="container">
<!-- <ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active"><%- page.title %></li>
</ul> -->
<style type="text/css">
	.list-info{
		padding-left: 15px;
	}
	.sidebar2 a{
		font-size: 1em;
		color:#64aed9;
	}
	.head-icon{
		padding-right: 6px;
	}
</style>
<div class="main">
  <div class="row margin-bottom-0">
    <!-- BEGIN CONTENT -->
    <div class="col-md-12">
      <div class="content-page">
	<div class="row">
	  <!-- <div class="col-md-12">
	    <div id="map" class="gmaps margin-bottom-40" style="height:400px;"></div>
	  </div> -->
	  
	  <div class="col-md-9 col-sm-8 col-md-push-3 col-sm-push-4">
	  <h3><i style="margin-right:10px;" class="glyphicon glyphicon-list-alt"></i>镜像列表</h3>

	    <%- page.content %>
	  </div>

	  <div class="col-md-3 col-sm-4 sidebar2 col-md-pull-9 col-sm-pull-8 info-pan" style="margin-top:0px;padding-top:0px;">
	    <h3><i class="fa fa-bullhorn head-icon"></i>通知公告</h3>
	    <div class="margin-bottom-15">
	    <ul class="list-info">
	    	<li>[2016-05-03] &nbsp;Ubuntu加入官方源<br></li>
	    	<li ><a  href="http://www.hellogcc.org/?p=34252">[2016-02-16] &nbsp;新加入GNU源</a><br></li>
	    	<li>[2015-12-09] &nbsp;新加入NPM源<br></li>
	    	<li>[2015-11-16] &nbsp;apache加入官方源<br></li>
	    	<!-- <li><a href="">新加入NPM源，欢迎使用</a><br></li>
	    	<li> <a href="">新加入NPM源，欢迎使用</a><br></li> -->

	    </ul>
	      
	    </div>

	    <h3 class="padding-top-15"><i class="head-icon fa fa-question-circle"></i>帮助</h3>
	    <ul class="list-unstyled">
	      <li><i class="fa fa-file-text-o"></i> <a href="http://docs.mirrors.opencas.org">使用文档</a></li>
	      <li><i class="fa fa-tachometer"></i></i> <a href="http://monitor.opencas.org">服务器状态</a> </li>
	      <li><i class="fa fa-check"></i></i>表示该镜像在官方列表中 </li>

	    </ul>  
	    <h3 class="padding-top-15"><i class="head-icon fa fa-envelope-o"></i>联系我们</h3>

	            	    <p>如需要其他镜像加入，请联系<br/><a href="mailto:admin@opencas.org">admin@opencas.org</a></p>

	  </div>
	</div>
      </div>
    </div>
    <!-- END CONTENT -->
  </div>
</div>
</div>
